.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .video {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .video-text {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    text-align: center;
  }
  
.trans_back_button {
    width: 200px;
    height: 200px;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10%;
    left: 17%;
  }

  .trans_back_button img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.trans_next_button {
    width: 200px;
    height: 200px;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 10%;
    left: 67%;
  }

  .trans_next_button img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}

.trans_next_button:hover img {
    transform: scale(1.1) rotate(180deg);
  }

  .trans_back_button:hover img {
    transform: scale(1.1);
  }

  .trans_back_button:focus, .trans_next_button:focus {
    outline: none;
  }

  .video-container button {
    position: absolute;
    
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease;
    border-radius: 10px;
    background: transparent;
  }